body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ff3c78;
}
.wrapper
{
    width: 380px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    padding: 25px 30px;
    background:rgba(60, 60, 60);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.wrapper i
{
    cursor: pointer;
}
.top-bar, .progress-area .timer, .controls, .music-list .header, .music-list ul li
{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.top-bar i
{
    font-size: 30px;
    color:white;
}
.top-bar span
{
    font-size: 18px;
    color:white;
}
.img-area
{
    height: 256px;
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow:0px 6px 15px rgba(0, 0, 0, 0.15);
}
.img-area img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.song-details
{
    text-align: center;
    margin: 10px 0;
    margin: 30px 0;
    color: white;
}
.song-details .name
{
    font-size: 21px;
    margin: 0;
}
.song-details .artist
{
    opacity: 0.9;
    font-size: 18px;
}
.progress-area
{
    height: 6px;
    width: 100%;
    background:#f0f0f0;
    border-radius:50px;
    cursor:pointer;
}
.progress-area .progress-bar
{
    height: inherit;
    width: 0%;
    border-radius: inherit;
    position: relative;
    background: linear-gradient(90deg,pink 0%,#ff3c78 100%);
}
.progress-bar::before
{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease ;
}
.progress-area:hover .progress-bar::before
{
    opacity: 2;
}
.progress-area .timer
{
    margin-top: 2px;
}
.timer span
{
    font-size: 13px;
    color:white ;
}
.controls
{
    margin: 40px 0 5px 0;
}
.controls i
{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(90deg,pink 0%,#ff3c78 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4)
{
    font-size: 43px;
}
.controls #prev
{
    margin-right: -13px;
}
.controls #next
{
    margin-right: -13px;
}
.controls .play-pause
{
    height: 54px;
    width: 54px;
    line-height: 43px;
    border-radius: 50%;
    background: linear-gradient(90deg,#f0f0f0 0%,#cececa 100%);
    box-shadow: 0px 0px 5px pink;
    align-items: center;
    display: flex;
    justify-content: center;
}
.play-pause::before
{
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background:linear-gradient(90deg,pink 0%,#ff3c78 100%);
}
 .play-pause i
{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: inherit;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.music-list
{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 0px 25px;
    border-radius: 15px;
    background: rgba(60, 60, 60);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.14s ease-out;
}
.music-list.show
{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.music-list .header .row
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    color: white;
}
.header .row i
{
    cursor: default;
}
.header .row span
{
    margin-left: 0;
}
.header .row .material-icons
{
    padding: 0;
}
.header #close
{
font-size: 22px;
color: white;
}
.music-list ul
{
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
    padding-left: 0;
}
.music-list ul::-webkit-scrollbar
{
width: 0px;
}
.music-list ul li
{
    cursor: pointer;
    list-style: none;
    margin: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color:white;
    border-bottom:1px solid #e5e5e5 ;
}
.music-list ul li:last-child
{
    border-bottom: 0px;
}
.music-list ul li .row span
{
    font-size: 17px;
}
ul li .row p
{
    opacity: 0.6;
}
ul li .audio-duration
{
    font-size: 16px;
}
ul li.playing
{
    color: #ff3c78;
    pointer-events: none;
}